body {
	background-color: black;
} 

#header {
	text-align: center;
	color: white;
}

#main {
	text-align: center;
	color: white;
	margin: 250px 150px 250px 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active)) {
    background-color: #F433FF;
}

li a.active {
    color: white;
    background-color: #F433FF;
}